.container {
	width: 100%;
	max-width: 95%;
}

body {
	font-family: 'Roboto', sans-serif;
}
.fileupleads {
    bottom: 0;
    position: absolute;
    right: 0;
}
.fileupleadscommn{
position: relative;
    width: 100%;
    float: left;
}
.fileimg {
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
.redborder {
    border: 1px solid #FF0000;
    border-radius: 8px;
    color: #fff;
    padding: 0.5em 0.925em;
    color: #FF0000;
}
select,
input {
	word-wrap: normal;
	font-size: 14px !important;
}
.tab-content th {
    color: #fff;
}
.fileupleadsbox {
    width: 100%;
    justify-content: space-between;
}
.form-check-input:checked {
    background-color: #FFC10E;
    border-color: #FFC10E;
}
.radioadd {
    display: flex;
    font-weight: 500;
}
.radius10 {
    border-radius: 10px;
}
.addetailpic select.form-select {
    color: #000 !important;
    background-color: #fff !important;
}
.typesd {
    display: flex;
}
.blackbtn {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #000;
}
.borderbtn {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 8px;
}
.blackcolor {
    color: #000 !important;
}
.font18 {
    font-size: 18px !important;
}
.addprodpost {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    display: flex;
}
.addprodpost .bgblack {
    width: 100%;
    max-width: 370px;
    margin-right: 20px;
}
.sidebar ul li a img {
    width: auto !important;
    height: 20px !important;
}
.postad {
	background: #FFC10E;
	width: 70px;
	white-space: nowrap;
	padding: 8px 10px;
	border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
	width: 80px;
}
textarea {
    border: 1px solid #00005B;
    width: 100%;
    float: left;
    height: 150px;
    border-radius: 8px;
}
.addpbtn a {
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0.5em 0.925em;
    margin: 0px 10px;
}
.selectcommon {
	float: left;
	margin-left: 20px;
}

.spacehdr {
	margin-left: 20px;
}

.logosec a {
	color: #92929D;
	text-decoration: none;
}

.links a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.greybg {
	background: #f6f7fb;
}
.tab-content select.form-select {
    color: #000 !important;
	background-color: #F6F7FB !important;
	position:relative;
}
.tablemediatext {
    float: left;
    text-align: left;
    padding-left: 10px;
}
.tablemediatext h5 {
    font-size: 14px;
	margin-bottom:4px;
}
.tab-content tr {
    background: #fff;
    border-bottom: 10px solid #F6F7FB;
    border-top: 10px solid #F6F7FB;
}
.tablemediatext p {
    font-size: 12px;
	    margin: 0;
}
.tab-content .search-filter {
    display: flex;
    width: 100%;
    max-width: 110px;
    margin: auto;
}
.tab-content td, .tab-content th {
    text-align: center;
	vertical-align: middle;
}
.searchtable {
    position: relative;
}
.searchtable i {
    position: absolute;
    top: 10px;
    right: 10px;
}
.main-section select.form-select {
	background: #000;
	color: #fff;
	width: 100%;
}

.selectbox {
	position: relative;
	width: 300px;
	float: left;
}

.breadcrumb a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
}

.breadcrumb li {
	margin-right: 4px;
}

.greycolor {
	color: #92929D !important;
}

.selectmain {
	width: 100%;
	float: left;
	display: flex;
}

.breadcrumb {
	float: left;
	padding-left: 20px;
	margin: 5px 0px 0px;
}

.selectbox .icondown {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 18px;
}

.selectbox {
	position: relative;
}

.categorytitle h6 {
	font-size: 18px;
}
.daticon {
    font-size: 13px;
}
.daticon i {
    margin-right: 6px;
}
.yellowcolor {
    color: #FFC10E;
}
.categorysec {
	margin-bottom: 15px;
}
.dhide{
	display:none;
}
.slidermain .carousel-item img {
	width: 100%;
	max-width: 600px;
	height: 400px;
	object-fit: cover;
	margin: auto;
}

.slidermain .carousel-indicators {
    display: flex;
    justify-content: unset !important;
    flex-direction: column;
    margin: 0px !important;
    background-color: #F6F7FB;
    right: auto;
    padding: 0px 10px;
    bottom: auto;
    top: 0px;
    height: 100%;
    left: -15px;
}

.slidermain .carousel-indicators button {
    width: 100px !important;
    height: 130px !important;
    margin-bottom: 0px;
    opacity: 1 !important;
    border-top: none;
}

.slidermain .carousel-control-next,
.slidermain .carousel-control-prev {
	opacity: 1;
	transition: opacity .15s ease;
	z-index: 99;
	color: #b4b4b4;
	font-size: 50px;
}

.slidermain .carousel-inner {
	background: #fff;
}

.categorytitle {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

.slidermain .carousel-control-prev {
	left: 15%;
}

.sharem img {
	width: 40px;
}

.sharem {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	float: left;
	margin-bottom: 40px;
}

.tablem {
	background: #fff;
	padding: 20px 20px 10px;
	float: left;
	border-radius: 8px;
	width: 100%;
}

.tablem ul {
    margin: 0px;
    padding: 0px;
    border: 2px solid #000;
    width: 100%;
    float: left;
    border-radius: 5px;
    border-bottom: none;
    border-left: none;
}

.tablem li {
    list-style: none;
    border-bottom: 2px solid #000;
    padding: 10px;
    width: 50%;
    float: left;
    border-left: 2px solid #000;
}
.tablem li:nth-child(1) {
    border-radius: 5px 0px 0px 0px;
}
.tablem li:nth-child(2) {
    border-radius: 0px 5px 0px 0px;
}

.tablem li:nth-child(5) {
	width: 100%;
	border-bottom: 3px solid #000 !important;
	    border-radius: 0px 0px 5px 5px;
}

.checkbtn {
	background: #FFC10E;
	color: #fff;
	text-decoration: none;
	padding: 8px;
	width: 100%;
	float: left;
	text-align: center;
	border-radius: 8px;
	margin-top: 20px;
}

.seller h4 {
	color: #92929D;
	font-size: 18px;
}
.sellerbox h4.media-heading {
    font-size: 16px;
    color: #000;
	    margin-bottom: 0;
}
.sellerbox .media-body p {
    font-size: 14px;
    margin-bottom: 0;
}
.sellerbox .media-object {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.media {
	display: flex;
}

.blackborder {
	border: 2px solid #000;
	color: #000;
}

.blackborder.rightside {
	border: 2px solid #000;
	padding: 8px;
	border-radius: 8px 12px;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	float: right;
}

.blackbg {
	background: #000;
	color: #fff;
}

.blackbg.whitecolor.rightside {
	background: #000;
	padding: 8px;
	border-radius: 8px 12px;
	color: #fff;
	text-decoration: none;
	float: right;
}

.slidermain {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    border-radius: 8px;
    overflow: hidden;
}
.tablem span.greycolor {
    font-size: 12px;
}
.bgwhite {
	background: #fff;
}

.seller {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
	border-radius: 8px;
}

.btnend {
	justify-content: end;
}

.btnend a {
	margin-left: 20px;
}

.media-body {
	margin-left: 15px;
}

.producticon img {
	height: 30px;
	float: left;
}
.pdetails h4 {
    font-size: 18px;
}
.producticon h4.media-heading {
	font-size: 14px;
}

.producticon p {
	font-size: 12px;
}

.hr2 {
	margin-bottom: 20px;
	border-bottom: 2px solid #92929D;
	margin-left: 0;
}
.pdetails {
    width: 100%;
    float: left;
    margin-bottom: 20px !important;
    padding-bottom: 20px;
}
.pdetails ul li {
	position: relative;
	width: 100%;
	float: left;
	padding-left: 20px;
	list-style: none;
	font-size: 14px;
	line-height: 28px;
}
.relatedproducttext i {
    margin-right: 6px;
}
.pdetails ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}

.pdetails ul li:before {
	position: absolute;
	top: 8px;
	left: 0;
	width: 12px;
	height: 12px;
	background: #000;
	content: "";
	border-radius: 50%;
}

.detailsinner {
	width: 100%;
	float: left;
}

.wset {
	width: 130px;
	float: left;
}

.detailsinner p {
	margin-bottom: 5px;
}

.relatedproduct {
	width: 100%;
	float: left;
	position: relative;
	padding: 20px;
	background: #fff;
	border-radius: 8px;
}

.relatedproductphoto {
	width: 100%;
	float: left;
	position: relative;
	padding: 40px;
	text-align: center;
}

.bgred {
	background: #EB2424;
}

.beforetop {
	width: 80px;
	float: left;
	height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	position: absolute;
	top: 0;
	line-height: 28px;
	left: 0;
}

.aftertop {
	width: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

.nprice {
	justify-content: space-between;
	font-weight: 600;
}

.nprice p {
	margin: 0;
}

.rpimg {
	width: auto !important;
	height: 200px;
	margin: auto;
}

.whitecolor {
	color: #fff;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

i.fa.fa-angle-down.icondown.blackcolor {
	color: #000;
	font-size: 35px;
}

.stockwidth {
	width: 100%;
}
.phoensee {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.phonesetm {
    display: none;
}
.bookadd {
    width: 100%;
    float: left;
    position: relative;
    grid-gap: 20px;
    grid-template-columns: auto auto;
}
.boredrbtn {
    background: transparent !important;
    color: #92929D;
    border: 2px solid #92929D;
}
ul.ptbl {
    border: none !important;
}
.ptbl li {
    border: none !important;
}
.tablem ul.ptbl {
    border: none !important;
}
.tablem .ptbl li {
    border: none !important;
    width: 50% !important;
    border-bottom: none !important;
}
.tablem .ptbl .rightsd {
    text-align: right;
}
.pricebox {
    width: 100%;
    float: left;
}
.hidedesk{
	display:none;
}
.starloc {
    justify-content: space-between;
    margin-top: 10px;
}
.bprofile {
    text-align: center;
    width: 100%;
    float: left;
}
.bprofile h4 {
    font-size: 18px;
}
.adminimg {
    width: 100px;
    margin-bottom: 10px;
}
.businessprofile {
    background: #fff;
    padding: 20px 20px 10px;
    float: left;
    border-radius: 8px;
    width: 100%;
}
.profileicon {
    width: 100%;
    float: left;
}
.profileicon li {
    list-style: none;
    border-bottom: none !important;
	margin-bottom: 10px;
}
.profileicon a {
    font-size: 13px !important;
    text-decoration: none;
}
.profileme {
    background: #000000;
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 10px;
}
.profileicon li img {
    width: 16px;
    margin-right: 5px;
}
.businesstitle {
    font-size: 18px;
    margin-bottom: 20px;
}
ul.breadcrumb.w-100 {
    float: left;
    padding-left: 0;
    margin: 5px 0px 10px;
    width: 100%;
}
.clientleft {
    width: 200px;
    float: left;
    position: relative;
}
.profilec {
    width: 100%;
    max-width: 150px;
}
.edits {
    position: absolute;
    bottom: 0;
    right: 60px;
    width: 30px;
}
.clientright {
    width: calc(100% - 200px);
    float: left;
    position: relative;
}
.clprofilemain {
    width: 100%;
    float: left;
    padding: 20px;
    border-radius: 8px;
}
.clientright form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}
.form-label {
    color: #92929D;
    font-size: 12px;
    font-weight: 500;
}
.formfield {
    width: 100%;
    float: left;
}
.bgblack {
    background: #000;
}
.bgblackbtn {
    background: #000;
    padding: 9px 20px;
    border-radius: 8px;
    text-decoration: none;
    float: left;
}
.btnset {
    text-align: right;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}
.btnsetcancel .boredrbtn {
    width: max-content;
    margin: 0px;
    padding: 9px 20px;
}
.clientpset {
    display: flex;
    flex-direction: column;
}
.sidebar li.active {
    background: #FFC10E;
}
.sidebar li.active a {
    color: #fff;
}
.mangeprofiles {
    margin-bottom: 58px;
}
.clientpset ul {
    border-radius: 8px;
    overflow: hidden;
}
.passwordmain {
    width: 100%;
    max-width: 350px;
    margin: auto;
    float: none;
}
.passwordmain form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
}
.savepass .btnset {
    text-align: left;
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px !important;
}
.savepass .btnsetcancel {
    justify-content: end !important;
    text-align: end;
    display: flex;
	    padding: 0px !important;
}
.passwordmain .formfield {
    padding: 0px 30px;
}
/***  seller css  **/
.selleraccount .nav-link {
    background: #fff !important;
    margin-right: 20px;
	min-width: 150px;
	display: flex;
	border-radius: 10px;
}
.selleraccount .nav-link.active {
    background: #000 !important;
    color: #fff !important;
}
.selleraccount .nav-link img {
    width: 20px;
    margin-right: 5px;
}
ul#myTab {
    border: none;
	margin-bottom: 30px;
}
.tabtitle {
    margin-bottom: 20px;
    color: #000000;
    font-size: 18px;
}
.s-search {
    position: relative;
    float: left;
    width: 300px;
    background: #fff;
    padding: 5px;
	border-radius:8px;
}
.s-search input {
    border: none;
	    padding-left: 10px;
}
.s-search i {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #92929D;
}
.sellersearch {
    display: flex;
    justify-content: space-between;
}
.sidebar li.active a:hover {
    color: #fff !important;
}
.clprofilemain .formfield a {
    min-width: 140px !important;
}
.tab-content thead tr {
    background: #FFC10E;
    border-radius: 10px;
    overflow: hidden;
}
.himg {
    display: none;
}
.active .dimg {
    display: none;
}
.active .himg{
	display: block !important;
}
.sidebar li.active a {
    display: flex;
}
.selectas .search-filter {
    display: flex;
    width: 200px;
}
.selectas {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.today-add span {
    background: #000;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
}
.today-add {
    margin: 0px 20px;
    display: flex;
    align-items: center;
}
.bookd-add span {
    background: #4493EF;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
}
.selectasdate {
    width: 100%;
    margin: auto;
}
.bookd-add {
    display: flex;
    align-items: center;
}
.lightred {
    color: #FC5A5A;
}
.pubaddmain {
    width: 100%;
    padding: 20px;
    text-align: center;
	min-height: 240px;
	cursor: pointer;
}
.badimg {
    width: 60px;
    margin-bottom: 13px;
}
.pubaddmain .search-filter {
    display: flex;
    width: 130px;
    margin: auto;
}
.payprew {
    display: flex;
    align-items: center;
    justify-content: center;
}
.payprew a {
    margin: 0px 10px;
    min-width: 130px;
    text-align: center;
}
.tab-content .alert {
    text-decoration: none;
    padding: 10px;
    width: 110px;
    float: left;
}
.modal.show .modal-dialog {
    transform: none;
    width: 100%;
    max-width: 100%;
    padding: 50px;
}
.orderform h4 {
    font-size: 18px;
}
.orderform a {
    text-decoration: none;
}
.greenbg {
    background: #26A547;
}
.bgbox {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
}
.bgbox:before {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 162px;
    height: 2px;
    background: #26A547;
    content: "";
    z-index: 999;
}
.beforenone:before{
	display:none;
}
.orderdelboxinner h4 {
    font-size: 18px;
}
.orderdelbox {
    border: 3px solid #E1E1E1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
	margin-bottom: 20px;
}
.orderdel {
    width: 100%;
    max-width: 600px;
    margin: 0px auto 30px;
}
.orderdelboxinner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
a {
    text-decoration: none;
}
.invoiceorder a {
    margin: 0px 10px;
    min-width: 160px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.costprice li {
    float: left;
    padding: 10px 20px;
    display: inline;
    list-style: none;
    border-left: 1px solid #E1E1E1;
}
.costprice {
    border: 1px solid #E1E1E1;
    float: left;
	border-radius: 10px;
    overflow: hidden;
}
.analytcsmain {
    border-radius: 10px;
}
.analytcsmain .d-flex {
    margin-bottom: 10px;
}
.analytcsmain h4 {
    font-size: 18px;
}
.anabooklist {
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 15px;
}
.anabooking {
    border-radius: 10px;
}



/** NEw Css Add**/
.addpbtn button {
	width:96%;
	margin:0px 2%;
	border:none;
}

.addpbtn .bgblack {
	color:#fff;
	border-radius: 8px;
}

.checkbox-label .pubaddmain {
	position:relative;
}

.checkbox-label .pubaddmain input[type="radio"] {
	position:absolute;
	width:100%;
	-webkit-appearance:none;
	height:100%;
	top: 0px;
	left: 0px;
}

.checkbox-label .pubaddmain input[type="radio"]:checked:before {
	background:#FFC10E;
	content:'';
	position:absolute;
	height:100%;
	width:100%;
	border-radius: 10px;
	top: 0px;
	left: 0px;
}

.relative-box {
	position:relative;
	    display: inline-block;
	z-index:9999999;
}



/** Calendar Style **/

/*
.calendar {
  max-width:800px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(229, 229, 229, 0.2);
  border-radius: 12px;
}

.calendar .calendar-dates,
.calendar .calendar-day-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
  background: rgba(229, 229, 229, 0.2);
  padding:10px 5px;
}

.calendar .calendar-dates-day {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  border:none;
  padding: 4px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  color: #1B1B1B;
   min-height: 32px;
  width:32px;
}

.calendar .calendar-dates-day-empty {
  background: none;
  border: 0;
  color: #dcdcdc;
  min-height: 32px;
  width:32px;
}

.calendar .calendar-day-name div {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  min-height: 32px;
  background:#fff;
  line-height:32px;
  width:32px;
}

.calendar .calendar-title {
  padding:10px 5px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  background: rgba(229, 229, 229, 0.2);
}

.calendar .calendar-dates-day.today-date {
  background: #000;
  color: #fff;
}

.calendar-dates-day:focus {
	background: #4493EF;
	color:#fff;
}

.calendar #prevMonth,
.calendar #nextMonth,
.calendar #today {
  padding: 2px 6px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 20px;
 border:none;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
}

.calendar #today {
  font-size: 13px;
  background:none;
  border:none;
}

button#today {
	background:none !important;
	border:none !important;
	padding-right:0px !important;
}

button#today span {
	margin-right:0px !important;
}

.calendar .calendar-title-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.calendar .calendar-button-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
*/


input.edit{
	background: #000;
	border:none;
	color:#fff;
	font-size:16px;
	height:40px;
	border-radius:8px;
	width:48%;
}

input.save{
	background: #4493EF;
	border:none;
	color:#fff;
	float:left;
	font-size:16px;
	height:40px;
	border-radius:8px;
	width:48%;
}

input.delete {
	border:none;
	color:#fff;
	font-size:16px;
	height:40px;
	float:right;
	border-radius:8px;
	background: #FFC10E;
	width:48%;
}

input.add {
	border:none;
	color:#fff;
	font-size:16px;
	height:40px;
	float:right;
	border-radius:8px;
	background: #FFC10E;
	width:48%;
}


.push-plan.intro {
	background:#FFC10E !important;
}

.selected.push-plan img {
	filter:brightness(0) invert(1);
}

.push-plan.selected {
	background:#FFC10E !important;
}

.highlight.selected {
	background:#86B817 !important;
}

.top-plan.selected {
	background:#0064D2 !important;
}

.top-plan.selected .relative-box img {
	filter:brightness(0) invert(1);
}


p.main {
	color:red !important;
}

.active-btn {
	background:#000!important;
	color:#fff!important;
}

.active {
    background: teal;
    color: #fff;
}

.remove-btn {
	background:none;
	color:#000;
}

.cal-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cal-modal {
  background: rgba(229, 229, 229, 0.2);
  color: #fff;
  padding:20px 10px;
  text-align: center;
}
.cal-modal h3 {
  font-size: 37px;
  font-weight: 900;
  margin: 0 0 1rem;
}

#calendar {
  display: inline-block;
}
#calendar .placeholder {
  display: none;
  width: 300px;
}
#calendar .flatpickr-calendar {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  top: 0;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month {
  color: inherit;
  margin-bottom: 10px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
  font-size: 16px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper {
  display: none;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  top: calc(50% - 23px);
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg {
  height: 46px;
  width: 46px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg path, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg path {
  fill: #000;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
  left: -60px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  right: -60px;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer {
  max-width: 307.875px;
  padding: 0 10px;
  position: relative;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer::after {
  content: "";
  background: #343F48;
  position: absolute;
  top: -32px;
  bottom: -230px;
  right: 0;
  width: 1px;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer .flatpickr-weekday {
  color: #6C6C6C;
  font-weight: 700;
}
#calendar .flatpickr-calendar .dayContainer {
  box-shadow: none;
  padding: 0 10px;
  position: static;
}
#calendar .flatpickr-calendar .dayContainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-day {
  background: #fff;
  border: 0;
  color: #1D252C;
  font-weight: 500;
  transition: color 0.1s, background 0.1s;
}
#calendar .flatpickr-calendar .flatpickr-day:hover {
  background: #3DAE2B;
  color: #fff;
}
#calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled, #calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled:hover {
  background:#000;
  color: #fff;
  cursor: default;
}
#calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden), #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):hover, #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):focus {
  background: #37A628;
  color: #fff;
}
#calendar .flatpickr-calendar .flatpickr-day.nextMonthDay, #calendar .flatpickr-calendar .flatpickr-day.prevMonthDay {
  background: none;
  color: rgba(207, 210, 211, 0.1) !important;
  cursor: default;
  visibility: visible;
}
#calendar .calendar-events {
  display: block;
  justify-content: space-around;
  margin-top: 30px;
  min-height: 36px;
}
@media screen and (min-width: 992px) {
  #calendar .calendar-events {
    display: flex;
    justify-content: space-around;
  }
}
#calendar .calendar-events .event {
  font-size: 29px;
}
#calendar .calendar-events .event .date {
  color: #fff;
  font-weight: 600;
}
#calendar .calendar-events .event .location {
  color: #3DAE2B;
  font-weight: 800;
  letter-spacing: -0.8px;
}


.flatpickr-day {
	margin:5px 8px!important;
	    max-width: 32px!important;
    height: 32px!important;
    line-height: 32px!important;
	color: #1B1B1B!important;
	background:#fff !important;
	border-radius:0px !important;
}

button#today {
	background:none;
	border:none;
}

.flatpickr-day:focus,.flatpickr-day:Hover {
	background:#4493EF !important;
}

#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer .flatpickr-weekday{
	    max-width: 32px!important;
    height: 32px!important;
	margin:5px 8px!important;
    line-height: 32px!important;
	color: #1B1B1B!important;
	background:#fff !important;
}

.flatpickr-current-month span.cur-month {
	color:#000 !important;
} 

#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
	background: rgba(229, 229, 229, 0.2) !important;
}

.save {
 display: none;
}


@media only screen and (max-width: 991px) {
	.rpimg {
		width: auto !important;
		height: 80px;
		margin: auto;
	}
.addetailpic .search-filter {
    display: block;
}
	.selectcommon {
		display: none;
	}

	.beforetop {
		width: 60px;
		float: left;
		height: 32px;
		top: 0;
		line-height: 32px;
		left: 0;
	}

	.nprice {
		display: block !important;
	}

	.tablem li {
		word-wrap: break-word;
	}
}

@media only screen and (max-width: 767px) {
	.selectmain {
		display: block;
	}

	.headerselect {
		display: none;
	}

	.slidermain .carousel-indicators {
		display: none;
	}

	.slidermain .carousel-item img {
		height: auto;
	}

	.sellerbox .d-flex {
		display: block !important;
	}

	.btnend a {
		margin-left: 0px;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.hr2 {
		padding-bottom: 20px;
		border-bottom: none;
	}

	iframe {
		height: auto;
	}

	.fsocial {
		margin: 0 0px 20px;
		padding: 0;
		width: 100%;
		float: left;
	}

	footer h4 {
		margin: 20px 0px;
	}

	.slidermain .carousel-control-prev {
		left: 0;
	}

.container {
    max-width: 100%;
}
.dhide {
    display: block;
}
.phonesetm {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    z-index: 999;
    text-align: right;
}
.phide {
    display: none;
}
.hidedesk{
	display:block;
}
.hidephone{
	display:none;
}
.tablem .ptbl li {
    font-size: 10px;
    line-height: 20px;
    color: #000;
	padding: 5px;
}
.phoensee {
    justify-content: space-between;
}
.savepass a {
    white-space: nowrap;
}
.clientright form {
    grid-template-columns: auto;
}
.clientleft {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
}
.clientright {
    width: 100%;
}
.btnset {
    text-align: left;
    float: left;
    display: flex;
    justify-content: left;
}
.edits {
    right: 100px;
}
.tableresponsive {
    width: 100%;
    max-width: 750px;
    overflow: auto;
}
.clprofilemain .formfield a {
    min-width: 100%;
	width:100%;
}
.btnset {
    padding-right: 0;
}
.savepass {
    display: flex !important;
    flex-direction: column;
}
.savepass .formfield.btnset {
    margin-bottom: 20px;
}
.passwordmain .formfield {
    padding: 0px 0px;
}
.selleraccount .nav-item {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.selleraccount .nav-link {
    margin-right: 0px;
    min-width: 100%;
}
.tab-content td, .tab-content th {
    vertical-align: text-bottom;
}
.tab-content .search-filter {
    display: flex;
    width: 100px;
}
.editdeltab {
    width: 80px;
    float: left;
}
.col {
    flex: 100%;
    width: 100%;
}
.selectas {
    flex-direction: column;
    display: grid;
    grid-template-columns: auto auto;
}
.today-add {
    margin: 20px 10px;
}
.pubaddmain {
    min-height: auto;
    margin-bottom: 20px;
}
.payprew {
    display: block !important;
}
.payprew a {
    margin: 10px 0px;
    min-width: 100%;
    text-align: center;
    width: 100%;
    float: left;
}
.addprodpost {
    display: block;
}
.fileupleadsbox {
    flex-direction: column;
}
.hide-m{
	display:none !important;
}
.login-link {
    display: block !important;
}
.login-link i {
    display: none;
}
.onlymb .btn-post {
    display: block !important;
    width: 100%;
}
.onlymb {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}
.fileupleads {
    position: relative;
}
.fileimg {
    height: auto;
}
.sellersearch .redborder {
    white-space: nowrap;
    margin-left: 10px;
}
.orderdelboxinner .bgbox {
    display: none;
}
.orderdelbox {
    flex-direction: column;
}
.invoiceorder {
    flex-direction: column;
}
.invoiceorder a {
    margin: 6px 0px;
}
.costprice li {
    border: 1px solid #E1E1E1;
    width: 100%;
}
.sellersearch .btn-post {
    display: block !important;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 13px;
}
}

.tab-content > .active {
	background:none !important;
}


.landing-popup li.allGermany a {
    background: url(../images/arrow-up.png) 95% 50% no-repeat;
}

.landing-popup li.allGermany.intro a {
    background: url(../images/arrow-down-1.png) 95% 50% no-repeat;
}


.add-custom-details td input[type="text"] {
	border: 1px solid #dee2e6!important;
    border-radius: 8px!important;
    width: 100%!important;
    height: 40px!important;
	padding-left:15px !important;
}

.add-custom-details td {
	font-weight:bold;
}

/**Date Picker**/
.date-new {
	position:relative;
}

.date-new input {
	position: absolute;
    left: 0px;
	top:5px;
    width: 100%;
    height:100%;
    border: none;
	outline:0 !important;
    padding-left: 10px;
    /* line-height: 0px; */
    margin-top: -5px;
    color: #212529;
    font-size: 16px !important;
	padding-top:20px;
}

.date-new span.greycolor {
	position:relative;
	z-index:9999;
}

.pickable-new {
	position:relative;
}

.pickable-new input {
	position: absolute;
    left: 0px;
	top:5px;
    width: 100%;
    height:100%;
    border: none;
	outline:0 !important;
    padding-left: 10px;
    /* line-height: 0px; */
    margin-top: -5px;
    color: #212529;
    font-size: 16px !important;
	padding-top:20px;
}

.pickable-new span.greycolor {
	position:relative;
	z-index:9999;
}

#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #009688;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 0;	
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}

#ui-datepicker-div {
	z-index:999999999 !important;
}

/****/

.quantity {
	display:inline-block;
	width:100%;
	border-radius:5px;
	border:2px solid #000;
	margin-top:15px;
	padding:10px 10px;
}

.quantity label {
	font-size:16px;
	color:#000;
}

.quantity a {
	display: inline-block;
	border: 2px solid #92929D;
	border-radius: 8px;
	height: 46px;
	width: 100%;
	line-height: 46px;
	color: #92929D;
	font-size: 29px;
	text-align: center;
}

.pr-0 {
	padding-right:0px !important;
}

.pl-0 {
	padding-left:0px !important;
}

.form-check-client .form-check {
	padding:8px 30px;
}

a.quantity__minus {
	float:left;
}

a.quantity__plus {
	float:right;
}

.quantity input {
	width: 100%;
	color:#000;
	font-size:30px;
	font-weight:600;
	text-align:center;
	border: 2px solid #FFC10E;
	border-radius: 8px;
	height:46px;
}

.tablem li.date-icon:after {
	background: url(../images/icons/calendar-icon.png) 92% 50% no-repeat;
	content:'';
	position:absolute;
	right: 10px;
	top: 16px;
	height:30px;
	width:30px;
}

.tablem li.calendar-icon:after {
	background: url(../images/icons/clock-icon.png) 92% 50% no-repeat;
	content:'';
	position:absolute;
	right: 10px;
	top: 16px;
	height:30px;
	width:30px;
}

.active {
	background:none;
}

@media screen and (min-device-width:768px) and (max-device-width:992px) {

.date-new span.greycolor,.pickable-new span.greycolor  {
   font-size:9px;
}
.date-new input,.pickable-new input {
	font-size:9px !important;
}

.boredrbtn {
	font-size:14px;
}

}